In [1]:
import os
import glob
import numpy as np
import pandas as pd
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import re

In [2]:
# siege of mariupol
mar01 = pd.read_csv("0301.csv")

In [4]:
mar01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409279 entries, 0 to 409278
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      409279 non-null  int64
 1   userid          409279 non-null  int64
 2   username        409279 non-null  object
 3   acctdesc        317709 non-null  object
 4   location        235394 non-null  object
 5   following       409279 non-null  int64
 6   followers       409279 non-null  int64
 7   totaltweets     409279 non-null  int64
 8   usercreatedts   409279 non-null  object
 9   tweetid         409279 non-null  int64
 10  tweetcreatedts  409279 non-null  object
 11  retweetcount    409279 non-null  int64
 12  text            409279 non-null  object
 13  hashtags        409279 non-null  object
 14  language        409279 non-null  object
 15  coordinates     37 non-null      object
 16  favorite_count  409279 non-null  int64
 17  extractedts     409279 non-null  object
dtypes: int64(8), object(10)
memory usage: 56.2+ MB

In [7]:
# lviv attack
mar13 = pd.read_csv("0313.csv")

In [8]:
# mariupol hospital siege
mar15 = pd.read_csv("0315.csv")

In [9]:
# mariupol theater bombed
mar16 = pd.read_csv("0316.csv")

In [10]:
# withdrawal from bucha - evidence of atrocities
apr03 = pd.read_csv("0403.csv")

In [11]:
# bombing of karmatorsk railway
apr08 = pd.read_csv("0408.csv")

In [12]:
mar01 = mar01[(mar01["language"] == "en")]
mar13 = mar13[(mar13["language"] == "en")]
mar15 = mar15[(mar15["language"] == "en")]
mar16 = mar16[(mar16["language"] == "en")]
apr03 = apr03[(apr03["language"] == "en")]
apr08 = apr08[(apr08["language"] == "en")]

In [22]:
df = pd.concat([mar01, mar13, mar15, mar16, apr03, apr08])

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1734174 entries, 0 to 405522
Data columns (total 18 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0      int64
 1   userid          int64
 2   username        object
 3   acctdesc        object
 4   location        object
 5   following       int64
 6   followers       int64
 7   totaltweets     int64
 8   usercreatedts   object
 9   tweetid         int64
 10  tweetcreatedts  object
 11  retweetcount    int64
 12  text            object
 13  hashtags        object
 14  language        object
 15  coordinates     object
 16  favorite_count  int64
 17  extractedts     object
dtypes: int64(8), object(10)
memory usage: 251.4+ MB

In [26]:
df_file = "final.pickle"   
save_df = open(df_file,"wb")
pickle.dump(df, save_df)          
save_df.close()

In [30]:
df.iloc[1]["text"]

'.@peta urges government to rescue student along with his companion dog amid the #UkraineRussiaWar \n\n@PetaIndia | #PETA #UkraineUnderAttack #UkraineWar\n\nhttps://t.co/0J1IldeHyz'

In [31]:
a = re.sub(r"http\S+", "", df.iloc[1]["text"])

In [32]:
a

'.@peta urges government to rescue student along with his companion dog amid the #UkraineRussiaWar \n\n@PetaIndia | #PETA #UkraineUnderAttack #UkraineWar\n\n'

In [33]:
df.iloc[4]["text"]

'When you know physics and geo-politics! #Ukraine https://t.co/uAt27Z4XJw'

In [34]:
b = re.sub(r"http\S+", "", df.iloc[4]["text"])

In [35]:
b

'When you know physics and geo-politics! #Ukraine '

In [47]:
def remove_http(df):
    docs = df.text
    for i in range(0,len(docs)):
        docs[i]= re.sub(r"http\S+", "", docs[i])
    return docs

In [54]:
smaller_mar01 = mar01.sample(n = 100000, random_state = 17)

In [55]:
smaller_mar01.head()

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
285999,435211,47541189,toddxz,"Blogger, Writer, Gamer, movie buff, music fan,...",the southwest usa,235,181,62505,2009-06-16 04:22:53.000000,1498697283365310467,2022-03-01 16:30:51,0,'40-Mile Long' Russian Military Convoy Approac...,"[{'text': 'RussiaUkraineWar', 'indices': [105,...",en,NaN,0,2022-03-01 16:31:40.793873
408432,557644,827828628469723136,Burak9100,NaN,NaN,2709,846,77600,2017-02-04 10:38:20.000000,1498803868762845187,2022-03-01 23:34:23,12739,My sister was trapped in #Ukraine. This is a t...,"[{'text': 'Ukraine', 'indices': [39, 47]}, {'t...",en,NaN,0,2022-03-01 23:35:56.567833
938,150150,920645671128059904,noir_a_m,"she/they. 25. #savelucifer veteran, #cloneclub...",pain: despair and baguette,252,29,8509,2017-10-18 13:40:07.000000,1498448162582839296,2022-03-01 00:00:56,13007,President @ZelenskyyUa has signed application ...,"[{'text': 'Ukraine', 'indices': [87, 95]}]",en,NaN,0,2022-03-01 00:02:33.589113
255277,404489,1498599316830699520,UButakov,NaN,NaN,1,0,386,2022-03-01 10:01:51.000000,1498670850425466884,2022-03-01 14:45:49,0,@PrezidentZeman STOP RUSSIAN AGGRESSION AGAINS...,"[{'text': 'UKRAINE', 'indices': [48, 56]}, {'t...",en,NaN,0,2022-03-01 14:46:36.876259
397244,546456,15320390,belleirene,"Voice, Accent & Acting @mtu_csm & self, Craic ...","Cork, Ireland",751,1171,10814,2008-07-04 19:40:06.000000,1498792472608219144,2022-03-01 22:49:06,12017,My sister was trapped in #Ukraine. This is a t...,"[{'text': 'Ukraine', 'indices': [39, 47]}, {'t...",en,NaN,0,2022-03-01 22:50:54.814755

In [58]:
smaller_mar01 = smaller_mar01.reset_index()

In [59]:
smaller_mar01.head()

,index,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
0,285999,435211,47541189,toddxz,"Blogger, Writer, Gamer, movie buff, music fan,...",the southwest usa,235,181,62505,2009-06-16 04:22:53.000000,1498697283365310467,2022-03-01 16:30:51,0,'40-Mile Long' Russian Military Convoy Approac...,"[{'text': 'RussiaUkraineWar', 'indices': [105,...",en,NaN,0,2022-03-01 16:31:40.793873
1,408432,557644,827828628469723136,Burak9100,NaN,NaN,2709,846,77600,2017-02-04 10:38:20.000000,1498803868762845187,2022-03-01 23:34:23,12739,My sister was trapped in #Ukraine. This is a t...,"[{'text': 'Ukraine', 'indices': [39, 47]}, {'t...",en,NaN,0,2022-03-01 23:35:56.567833
2,938,150150,920645671128059904,noir_a_m,"she/they. 25. #savelucifer veteran, #cloneclub...",pain: despair and baguette,252,29,8509,2017-10-18 13:40:07.000000,1498448162582839296,2022-03-01 00:00:56,13007,President @ZelenskyyUa has signed application ...,"[{'text': 'Ukraine', 'indices': [87, 95]}]",en,NaN,0,2022-03-01 00:02:33.589113
3,255277,404489,1498599316830699520,UButakov,NaN,NaN,1,0,386,2022-03-01 10:01:51.000000,1498670850425466884,2022-03-01 14:45:49,0,@PrezidentZeman STOP RUSSIAN AGGRESSION AGAINS...,"[{'text': 'UKRAINE', 'indices': [48, 56]}, {'t...",en,NaN,0,2022-03-01 14:46:36.876259
4,397244,546456,15320390,belleirene,"Voice, Accent & Acting @mtu_csm & self, Craic ...","Cork, Ireland",751,1171,10814,2008-07-04 19:40:06.000000,1498792472608219144,2022-03-01 22:49:06,12017,My sister was trapped in #Ukraine. This is a t...,"[{'text': 'Ukraine', 'indices': [39, 47]}, {'t...",en,NaN,0,2022-03-01 22:50:54.814755

In [60]:
test = remove_http(smaller_mar01)

/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/2792148299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r'http\S+', '', docs[i])

In [69]:
mar01_docs = test

In [68]:
smaller_mar13 = mar13.sample(n = 100000, random_state = 17)
smaller_mar13 = smaller_mar13.reset_index()
mar13_docs = remove_http(smaller_mar13)

smaller_mar15 = mar15.sample(n = 100000, random_state = 17)
smaller_mar15 = smaller_mar15.reset_index()
mar15_docs = remove_http(smaller_mar15)

smaller_mar16 = mar16.sample(n = 100000, random_state = 17)
smaller_mar16 = smaller_mar16.reset_index()
mar16_docs = remove_http(smaller_mar16)

smaller_apr03 = apr03.sample(n = 100000, random_state = 17)
smaller_apr03 = smaller_apr03.reset_index()
apr03_docs = remove_http(smaller_apr03)

smaller_apr08 = apr08.sample(n = 100000, random_state = 17)
smaller_apr08 = smaller_apr08.reset_index()
apr08_docs = remove_http(smaller_apr08)

/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/2792148299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r'http\S+', '', docs[i])
/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/2792148299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r'http\S+', '', docs[i])
/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/2792148299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r'http\S+', '', docs[i])
/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/2792148299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r'http\S+', '', docs[i])
/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/2792148299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r'http\S+', '', docs[i])

In [118]:
def remove(df):
    docs = df.text
    for i in range(0,len(docs)):
        docs[i]= re.sub(r"http\S+", "", docs[i])
        docs[i]= re.sub(r"\n","", docs[i])
        docs[i]= re.sub(r"#","", docs[i])
    return docs

In [119]:
test_apr08 = apr08.sample(n = 100000, random_state = 50)
test_apr08 = test_apr08.reset_index()
test_apr08_docs = remove(test_apr08)
df_file = "test_apr08.pickle"   
save_df = open(df_file,"wb")
pickle.dump(test_apr08_docs, save_df)          
save_df.close()

/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/362137062.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r"http\S+", "", docs[i])
/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/362137062.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r"\n","", docs[i])
/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/362137062.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r"#","", docs[i])

In [70]:
df_file = "mar01.pickle"   
save_df = open(df_file,"wb")
pickle.dump(mar01_docs, save_df)          
save_df.close()

In [71]:
df_file = "mar13.pickle"   
save_df = open(df_file,"wb")
pickle.dump(mar13_docs, save_df)          
save_df.close()
df_file = "mar15.pickle"   
save_df = open(df_file,"wb")
pickle.dump(mar15_docs, save_df)          
save_df.close()
df_file = "mar16.pickle"   
save_df = open(df_file,"wb")
pickle.dump(mar16_docs, save_df)          
save_df.close()
df_file = "apr03.pickle"   
save_df = open(df_file,"wb")
pickle.dump(apr03_docs, save_df)          
save_df.close()
df_file = "apr08.pickle"   
save_df = open(df_file,"wb")
pickle.dump(apr08_docs, save_df)          
save_df.close()

In [73]:
a

'.@peta urges government to rescue student along with his companion dog amid the #UkraineRussiaWar \n\n@PetaIndia | #PETA #UkraineUnderAttack #UkraineWar\n\n'

In [76]:
a = re.sub(r"\n","",a)

In [77]:
a

'.@peta urges government to rescue student along with his companion dog amid the #UkraineRussiaWar @PetaIndia | #PETA #UkraineUnderAttack #UkraineWar'

In [82]:
def remove_nl(docs):
    
    for i in range(0,len(docs)):
        docs[i]= re.sub(r"\n","", docs[i])
    return docs

In [81]:
re.sub(r"\n","",mar01_docs[0])

"'40-Mile Long' Russian Military Convoy Approaching Ukraine Capital  via @YouTube #RussiaUkraineWar"

In [83]:
mar01_docs = remove_nl(mar01_docs)
mar13_docs = remove_nl(mar13_docs)
mar15_docs = remove_nl(mar15_docs)
mar16_docs = remove_nl(mar16_docs)
apr03_docs = remove_nl(apr03_docs)
apr08_docs = remove_nl(apr08_docs)

/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/359623102.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r"\n","", docs[i])

In [85]:
def remove_hash(docs):
    
    for i in range(0,len(docs)):
        docs[i]= re.sub(r"#","", docs[i])
    return docs

In [86]:
mar01_docs = remove_hash(mar01_docs)
mar13_docs = remove_hash(mar13_docs)
mar15_docs = remove_hash(mar15_docs)
mar16_docs = remove_hash(mar16_docs)
apr03_docs = remove_hash(apr03_docs)
apr08_docs = remove_hash(apr08_docs)

/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/3428577527.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r"#","", docs[i])

In [87]:
df_file = "mar01.pickle"   
save_df = open(df_file,"wb")
pickle.dump(mar01_docs, save_df)          
save_df.close()
df_file = "mar13.pickle"   
save_df = open(df_file,"wb")
pickle.dump(mar13_docs, save_df)          
save_df.close()
df_file = "mar15.pickle"   
save_df = open(df_file,"wb")
pickle.dump(mar15_docs, save_df)          
save_df.close()
df_file = "mar16.pickle"   
save_df = open(df_file,"wb")
pickle.dump(mar16_docs, save_df)          
save_df.close()
df_file = "apr03.pickle"   
save_df = open(df_file,"wb")
pickle.dump(apr03_docs, save_df)          
save_df.close()
df_file = "apr08.pickle"   
save_df = open(df_file,"wb")
pickle.dump(apr08_docs, save_df)          
save_df.close()

In [107]:
import nltk

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

In [95]:
stopword_list = stopwords.words('english')

In [96]:
type(stopword_list)

list

In [97]:
stopword_list.append("amp")

In [109]:
def token_stop(docs):
    for i in range(0,len(docs)):
        tokens=word_tokenize(docs[i])
        removed=[w for w in tokens if not w.lower() in stopword_list]
        docs[i]=" ".join([w for w in removed])
        
    return docs

In [110]:
token_mar01 = token_stop(mar01_docs)

/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/2630452412.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]=" ".join([w for w in removed])

In [113]:
df_file = "mar01token.pickle"   
save_df = open(df_file,"wb")
pickle.dump(token_mar01, save_df)          
save_df.close()

In [114]:
token_mar13 = token_stop(mar13_docs)
df_file = "mar13token.pickle"   
save_df = open(df_file,"wb")
pickle.dump(token_mar13, save_df)          
save_df.close()

/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/2630452412.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]=" ".join([w for w in removed])

In [115]:
token_mar15 = token_stop(mar15_docs)
token_mar16 = token_stop(mar16_docs)
token_apr03 = token_stop(apr03_docs)
token_apr08 = token_stop(apr08_docs)

/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/2630452412.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]=" ".join([w for w in removed])

In [116]:
df_file = "mar15token.pickle"   
save_df = open(df_file,"wb")
pickle.dump(token_mar15, save_df)          
save_df.close()
df_file = "mar16token.pickle"   
save_df = open(df_file,"wb")
pickle.dump(token_mar16, save_df)          
save_df.close()
df_file = "apr03token.pickle"   
save_df = open(df_file,"wb")
pickle.dump(token_apr03, save_df)          
save_df.close()
df_file = "apr08token.pickle"   
save_df = open(df_file,"wb")
pickle.dump(token_apr08, save_df)          
save_df.close()

In [117]:
feb = pd.read_pickle(r"df.pickle")
eng_feb = feb[(feb["language"] == "en")]
smaller_feb = eng_feb.sample(n = 100000, random_state = 17)
smaller_feb = smaller_feb.reset_index()
feb_docs = remove_http(smaller_feb)
feb_docs = remove_nl(feb_docs)
feb_docs = remove_hash(feb_docs)

df_file = "feb.pickle"   
save_df = open(df_file,"wb")
pickle.dump(feb_docs, save_df)          
save_df.close()

token_feb = token_stop(feb_docs)

df_file = "febtoken.pickle"   
save_df = open(df_file,"wb")
pickle.dump(token_feb, save_df)          
save_df.close()

/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/2792148299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]= re.sub(r'http\S+', '', docs[i])
/var/folders/6l/6tcwml6d7hqb9tfsn7kf5z6r0000gn/T/ipykernel_14023/2630452412.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  docs[i]=" ".join([w for w in removed])